
/*TODO: Clean up variables once color scheme looks good*/
:root {
    --classic-green-bg: #006400;
    --light-pink-bg: #d9d9d9;
    --light-green: #5ba94b;

    --icon-base: #f8ebcd;
    --icon-highlight: #ffcd66;
    --icon-stroke: #917c55;

    --options-icon-fill: #24693D;
    --options-icon-hover-fill:#398A5E;
    --options-icon-active-fill:#306C4B;

    --undo-icon-fill: #54A77B;
    --undo-icon-hover-fill:#3D8061;
    --undo-icon-active-fill:#3B6A44;

    --about-icon-fill:#7BD3A4;
    --about-icon-hover-fill:#5CBE8E;
    --about-icon-active-fill:#669D76;

    --button-bg:#6AA2BD;
    --button-border:whitesmoke;

}

button{
    background-color: var(--icon-base);
    border: 0.5vmin solid var(--icon-stroke);
    border-radius: 1vmin;
    outline: none;
    padding: 1vmin 3vmin;
    color: var(--icon-stroke);
}

button:hover{
    background-color: var(--icon-stroke);
    border-color: var(--icon-base);
    color:white;
    box-shadow: .25rem .25rem 0.35rem var(--icon-stroke);
    filter: drop-shadow(.25rem .25rem 0.35rem var(--icon-stroke));
    cursor: pointer;
}
button:active{
    background-color: var(--icon-base);
    border-color: var(--icon-stroke);
    color:var(--icon-stroke);
    box-shadow: none;
    filter: none;
}

body {
    background: var(--light-pink-bg);
    height: 100vh;
    margin: 0;
}

.blur{
    filter: blur(0.5em);
}

.game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: var(--classic-green-bg);
    background-image: linear-gradient(var(--classic-green-bg),var(--light-green));
    height: 100vh;
    width: 100vw;
}

@media screen and (min-width:1000px) {
    .game-container {
        width: 80%;
        margin: 0 auto;
        padding: 0 55px;
    }
}


/* Upper row layout */
.upper-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Lower row layout */
.lower-row {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px;
    align-items: flex-start;
    /* ensure cards start from top */
}

/* Individual slots - for foundation and tableau */
.slot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: none;
    background-color: var(--light-pink-bg); 
    border: 0.15em dashed #245A11;
    width: 4.0em;
    height: 5.5em;
}

.slot.foundation{
    display: block;
}

.slot.foundation .card{
    position: absolute;
}
.slot.foundation:hover .card:last-child{
    box-shadow: .25rem .25rem 0.35rem var(--icon-stroke); 
    transform: translateY(15px);
}

.slot.large{ font-size: 26px;}

.tableau{
    flex-direction: column-reverse;
}

.card.large.back.deck:last-child:hover{
    box-shadow: .25rem .25rem 0.35rem var(--icon-stroke); 
    margin-bottom: -10px;
}

.card.large.on-tableau{
    margin-top: -170px;
    position: relative !important;
    flex-shrink: auto;

}

.card.large.on-tableau:not(.back):hover{
    margin-left: -10px;
    box-shadow: .25rem .25rem 0.35rem var(--icon-stroke); 

}

.card.large.on-tableau.back{
    margin-top: -155px;
}

.card.back.deck {
    margin-bottom: -89.8px;
    /* specific overlapping effect for the deck for medium(default) card size.. These seem to be magic numbers, change at own peril */
}

.card.large.back.deck {
    margin-bottom: -146px;
    /* specific overlapping effect for the deck for large card size */
}

.card:nth-child(n) {
    z-index: calc(100-n);
}

.card.face-up {
    z-index: 2;
}

.header, .footer{
    height:100px;
    display:flex;
    justify-items: flex-start;
    align-items: center;
}

.header{
    flex-direction: row-reverse;
}

.header > div:last-child{
    margin-right: auto;
}

.icon{
    padding: 10px 5px;
    margin-left: 5px;
}

.icon:not(.disabled):hover{
    cursor: pointer;
}

.icon svg{
    width: 35px;
    height: 35px;
    border: 2px solid var(--icon-stroke);
    /* border: 2px solid var(--icon-base); */
    border-radius: 50%;
    padding: 3px;
    background: radial-gradient(circle, var(--icon-base) 30%, var(--icon-highlight) 100%);
}

.icon:hover svg{
    filter:drop-shadow(.15rem .15rem 0.35rem var(--icon-stroke));
}

.icon:active svg{
    filter:none;
}

.about-icon{
    stroke: var(--icon-stroke);
    stroke-width: 1;
}

.about-icon path{
    fill: var(--about-icon-fill);
}
.about-icon:hover path{
    fill: var(--about-icon-hover-fill);
}
.about-icon:active path{
    fill: var(--about-icon-active-fill);
}

.undo-icon{
    stroke-width: 20;
    stroke: var(--icon-stroke);
}

.undo-icon path{
    fill:var(--undo-icon-fill);
}

.undo-icon:hover path{
    fill:var(--undo-icon-hover-fill);    
}

.undo-icon:active path{
    fill:var(--undo-icon-active-fill);    
}

.options-icon{
    stroke-width: 1;
    stroke: var(--icon-stroke);
}

.options-icon path{
    fill: var(--options-icon-fill);
}

.options-icon:hover path{
    fill: var(--options-icon-hover-fill);
}

.options-icon:active path{
    fill: var(--options-icon-active-fill);
}



.fill-inside{
    fill: var(--icon-base);
}

.fill-inside-bg{
    fill: var(--icon-base);
}

.overlay{
    display:none;
}

.overlay.show{
    display: block;
}